<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.iitharwain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MessMenuActivity"
            android:label="MessMenu"/>
        <activity android:name=".LostFoundActivity"
            android:label="Lost and found"/>
        <activity android:name=".CoursesActivity"
            android:label="Institute Courses"/>
        <activity android:name=".CabSharingActivity"
            android:label="CabSharing"/>
        <activity
            android:name=".LostItemActivity"
            android:label="LOST"
            android:parentActivityName=".LostFoundActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LostFoundActivity"/>
        </activity>
        <activity
            android:name=".FoundItemActivity"
            android:label="FOUND"
            android:parentActivityName=".LostFoundActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LostFoundActivity"/>
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>


</manifest>